run = "python src/frontend/main.py"
language = "python3"
entrypoint = "src/frontend/main.py"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "python src/frontend/main.py"]
deploymentTarget = "cloudrun"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = "pylsp" 